*{
    margin: 0;
    padding: 0;
}

#main{
    width: 80%;
    margin: 0 auto;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    min-height: 100vh;
}

.page-header, .page-footer{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: antiquewhite;
    box-sizing: border-box;
}

.page-header{
    height: 70px;
    /* padding-top: 20px;  */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/header.png);
    background-repeat: repeat-x;
}

.page-content{
    padding: 8px;    
    background-color: rgb(245, 223, 195);
}

.page-footer{
    font-size: .85rem;
}

.gallery > img{
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 2px solid green;
    border-radius: 15px 0;
    background-color: burlywood;
    opacity: 0.65;
}

.gallery > img:hover{
    background-color: brown;
    border: 2px solid brown;
    opacity: 1;
}

.page-menu{
    background-color: rgb(231, 165, 117);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.page-menu > ul{
    list-style-type: none;
    height: 40px;
    box-sizing: border-box;
}

.page-menu > ul > li{
    display: inline-block;
}

.page-menu > ul > li > a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
    display: inline-block;
    height: 40px;
    width: 100px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid gray;
    margin-left: -4px;
}

.page-menu > ul > li:last-child > a{
    border-right: none;
}

.page-menu > ul > li > a:hover{
    color: black;
    background-color: rgb(245, 204, 174);
    border-bottom: 3px solid lightgray;
}