*{
    margin:0;
    padding: 0;
}

#wrapper{
    width: 800px;
    margin: 0 auto;
    background-color: antiquewhite;
}

#wrapper > header, #wrapper > footer{
    height: 30px;
    font-size: 2rem;
    text-align: center;
    padding: 7px 0;
}

#wrapper > header{
    border-bottom: 2px solid green;
}

#wrapper > footer{
    font-size: 0.7rem;
    border-top: 2px solid green;
}

#wrapper > main{
    margin: 15px 5px;
    box-sizing: border-box;
}

#wrapper > main > h3{
    text-align: center;
}


.register-form{
    border: 2px solid green;
    padding: 15px;
    border-radius: 15px;
    width: 700px;
    margin: 5px auto;
    background-color: lightgray;
    text-align: center;
}

.register-form > div{
    display: flex;
    justify-content: space-between;
}

.register-form > div > ul{
    list-style-type: none;
}

.register-form > div > ul li + li{
    margin-top: 15px;
}

.register-form li > .label-text-field{
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 7px;
}

.register-form [type="text"],
.register-form [type="password"],
.register-form [type="email"],
.register-form [type="submit"],
.register-form [type="reset"],
#btnCustom{
    padding: 7px 10px;
    border: 3px solid green;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-form [type="text"]:focus,
.register-form [type="password"]:focus,
.register-form [type="email"]:focus{
    border: 3px solid yellow;
    outline: none;
}

.register-form [type="submit"],
.register-form [type="reset"],
#btnCustom{
    width: 100px;
    height: 40px;
    transition: all .5s;
}

.register-form [type="submit"]:hover,
.register-form [type="reset"]:hover,
#btnCustom:hover{
    background-color: gray;
    color: white;
    font-weight: bold;
}

.radio-test [type="radio"]{
    display: none;
}

.radio-test [type="radio"] + span::after{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid yellow;
    margin-top: 5px;
    margin-left: 3px;
    box-sizing: border-box;
    transition: all .4s;
}

/* .radio-test [type="radio"] + span{
    color: yellow;
} */

.radio-test [type="radio"]:checked + span{
    color: green;
}

.radio-test [type="radio"]:checked + span::after{
    background-color: green;
    border: 2px solid green;
}

#userLicense1, #userLicense2{
    display: none;
}

#userLicense1 + span,
#userLicense2 + span{
    position: relative;
}

#userLicense1 + span::before,
#userLicense2 + span::before{
    content: "\2610";
    color: red;
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5rem;
    position: relative;
    top: 4px;
}

#userLicense1:checked + span::before,
#userLicense2:checked + span::before{
    content: "\2611";
    color: green;
}

@media screen and (max-width: 720px) {
    #wrapper{
        width: 700px;
    }

    .register-form{
        width: 600px;
    }
}

@media screen and (max-width: 520px) {
    #wrapper{
        width: 500px;
    }

    .register-form{
        width: 420px;
    }
    .register-form > div{
        flex-direction: column;
        justify-content: space-around;
    }
}