*{
    margin: 0;
    padding: 0;
}

#main{
    width: 800px;
    margin: 0 auto;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    min-height: 100vh;
}

.page-header, .page-footer{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: antiquewhite;
    box-sizing: border-box;
}

.page-header{
    height: 70px;
    /* padding-top: 20px;  */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/header.png);
    background-repeat: repeat-x;
}

.page-content{
    padding: 8px;    
    background-color: rgb(245, 223, 195);
}

.page-footer{
    font-size: .85rem;
}

.gallery > img{
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 2px solid green;
    border-radius: 15px 0;
    background-color: burlywood;
    opacity: 0.65;
    /* transition: all .8s linear 0s; */
    /* transition: opacity .8s cubic-bezier(0.21, 0.95, 0.63, 0.07) 0s; */
    /* transition: opacity .8s cubic-bezier(0.21, 0.95, 0.63, 0.07) 0s, border .8s ease 0s; */

    transition-property: opacity, border, transform;
    transition-duration: 0.8s, 0.6s, 0.8s;
    transition-timing-function: linear, ease, linear;
    transition-delay: 0s, 0.1s, 0s;
}

.gallery > img:hover{
    background-color: brown;
    border: 2px solid brown;
    opacity: 1;
    /* transform: scale(1.2, 1.2); */
    z-index: 1;
    position: relative;
    transform: scale(1.2, 1.2);
    /* transform-origin: 50% 50% 0; */
    /* transform: skew(-10deg, 0deg) */
}




.page-menu{
    background-color: rgb(231, 165, 117);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.page-menu > ul{
    list-style-type: none;
    height: 40px;
    box-sizing: border-box;
}

.page-menu > ul > li{
    display: inline-block;
}

.page-menu > ul > li > a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
    display: inline-block;
    height: 40px;
    width: 100px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid gray;
    margin-left: -4px;

    transition: all 0.3s ease 0s;
}

.page-menu > ul > li:last-child > a{
    border-right: none;
}

.page-menu > ul > li > a:hover{
    color: black;
    background-color: rgb(245, 204, 174);
    border-bottom: 3px solid lightgray;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    width: 115px;
    /* transform: scaleX(1.2); */
}

#callback{
    width: 300px;
    background-color: gray;
    height: 150px;
    position: absolute;
    z-index: 10;
    top: 70vh;
    left: -300px;
    transition: all 0.8s linear 0s;
}

#callback > p{
    padding: 20px;
    color: white;
    height: 100%;
    box-sizing: border-box;
}

#callback::after{
    content: "Обратная связь";
    background-color: darksalmon;
    border-radius: 0 0 10px 10px;
    position: relative;
    left: 300px;
    width: 150px;
    height: 30px;
    display: inline-block;
    padding-top: 5px;
    box-sizing: border-box;
    text-align: center;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

#callback:hover{
    left: 0;
}

#marque{
    background-color: lightgray;
    overflow: hidden;
}

#marque > p{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    animation: marqueKey 4s linear 0s infinite alternate;
    box-sizing: border-box;
    height: 40px;
    word-break: break-all;
}

/* @keyframes marqueKey {
    from{
        margin-left: 0px;
    }

    to{
        margin-left: 800px;
    }
} */

@keyframes marqueKey {
    0%{
        margin-left: -265px;
        color: bisque;
    }
    10%{
        color: aqua;
    }
    70%{
        color: brown;
    }
    100%{
        color: coral;
        margin-left: 800px;
    }
}