$bgcolor:lightgray;
$txcolor:white;
$bghovercolor: navy;
$txhovercolor: white;
$brdcolor:navy;

@mixin browser-gradient($angle, $colorfrom, $colorto){
    background: $colorfrom;
    background: linear-gradient($angle,$colorfrom 0%, $colorto 80%);
    background: -webkit-linear-gradient($angle,$colorfrom 0%, $colorto 80%);
    background: -moz-linear-gradient($angle,$colorfrom 0%, $colorto 80%);
}

@mixin border-radius($radius) { // Префиксы для:
    -webkit-border-radius: $radius; // Chrome и Safari
    -moz-border-radius: $radius; // Firefox
    -ms-border-radius: $radius; // Internet Explorer
    -o-border-radius: $radius; // Opera
    border-radius: $radius; // Стандартный CSS
}

@mixin centered-flex-container(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin zebra() {
    @for $i from 1 through 7 {
        @if ($i % 2==1) {
            .stripe-#{$i} {
                background-color: $txcolor;
                color: $bgcolor;
            }
        }
    }
}

$index: 5;
@while $index > 0 {
    .element-#{$index} { width: 10px * $index; }
    $index: $index - 1;
}

@function three-hundred-px() {
    @return 300px;
}
