.element-5 {
  width: 50px;
}

.element-4 {
  width: 40px;
}

.element-3 {
  width: 30px;
}

.element-2 {
  width: 20px;
}

.element-1 {
  width: 10px;
}

* {
  margin: 0;
  padding: 0;
}
* .stripe-1 {
  background-color: white;
  color: lightgray;
}
* .stripe-3 {
  background-color: white;
  color: lightgray;
}
* .stripe-5 {
  background-color: white;
  color: lightgray;
}
* .stripe-7 {
  background-color: white;
  color: lightgray;
}

[class|=stripe] {
  text-align: center;
}

.rounded-text {
  width: 300px;
  padding: 10px;
  border: 2px solid navy;
  margin: 15px auto;
  border-radius: 15px;
}
.rounded-text:hover {
  border: 2px solid yellow;
}

.rounded-items {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rounded-items > div {
  padding: 15px;
  background-color: navy;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  background-color: lightgray;
  color: white;
}
.wrapper > header {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid navy;
}
.wrapper > main {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}
.wrapper > footer {
  text-align: right;
  height: 30px;
  padding-top: 10px;
  border-top: 2px solid navy;
  background: #d3d3d3;
  background: linear-gradient(90deg, #d3d3d3 0%, #a09f9f 80%);
  background: -moz-linear-gradient(90deg, #d3d3d3 0%, #a09f9f 80%);
}

.content-left {
  width: 200px;
  padding: 10px;
}
.content-left > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content-left > ul > li > a {
  display: inline-block;
  width: 100%;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s;
}
.content-left > ul > li > a:hover {
  background-color: navy;
  color: white;
}

@media screen and (max-width: 720px) {
  .wrapper {
    width: 700px;
  }
  .wrapper > main .content-right {
    display: none;
  }
}